# Build-Verzeichnis
/build/
/build-*/

# CMake generierte Dateien
/build/CMakeFiles/
/build/CMakeCache.txt
/build/cmake_install.cmake
Makefile

# Executable (Linux oder WSL)
morse

# Executable (Windows, MinGW / CMake)
morse.exe

# Editor/IDE Files
*.swp
*.swo
*.user
*.log

# Backup files
*~
*.bak

# Testausgaben
*.out
*.txt
